label {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    text-align: left;
    margin: 5px;
    margin-right: 15px;
    color: white;
}

input {
    display: inline-block;
    height: 20px;
    border: 1px solid black;
}

h2 {
    color: white;
}

p {
    display: inline;
    color: white;
    padding-top: 10px;
}
 

form {
    margin: auto;
    width: 25em;
    background-color: indigo;
    padding: 10px;
    border-radius: 15px;
}

button {
    display: inline-block;
    padding: 7px 14px 7px;
    background-color: navy;
    color: white;
    border: 1px solid rgb(23, 0, 154);
    border-radius: 4px;
    box-shadow: 0 0 4px white
}

.button {
    margin-left: 10em;

}

input[type="date"] {
    background-color: white;
    color: black;
    height: 25px;
    margin-bottom: 14px;
}

select {
    display: inline-block;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="text"], input[type="email"] {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .75);
}

input[type="text"]:focus {
    background-color: white;
    color: black;
}
span {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
    margin: 5px;
    margin-right: 15px;
    color: white;
}
