table {
            border-collapse: collapse;
            margin:auto;
            text-align: center;
        }
        
        table td {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
        }
        
        /* Четные строки, нечетные ячейки - черные */
        table tr:nth-child(even) td:nth-child(odd) {
            background-color: #000;
        }
        
        /* Четные строки, четные ячейки - белые */
        table tr:nth-child(even) td:nth-child(even) {
            background-color: #fff;
        }
        
        /* Нечетные строки, нечетные ячейки - белые */
        table tr:nth-child(odd) td:nth-child(odd) {
            background-color: #fff;
        }
        
        /* Нечетные строки, четные ячейки - черные */
        table tr:nth-child(odd) td:nth-child(even) {
            background-color: #000;
        } 
 
        td:first-child, td:last-child{
            width: 20px; 
            background-color: gray !important;
        }
        tr:first-child td, tr:last-child td{
            height: 20px;
            background-color: gray !important;
        }
        tr:first-child td:last-child,
        tr:first-child td:first-child, 
        tr:last-child td:last-child,
        tr:last-child td:first-child {
            height: 20px;
            width: 20px;
            background-color: gray !important;
            visibility: hidden;
            border: 0;
        }