table{
    border-collapse: separate;
    margin: 0 auto;
    empty-cells: hide;
    color: white;
     border-spacing: 0;
     width: 300px;
}
td{
    border: 3px solid grey;
    text-align: center;
}
th{
    border: 3px solid grey;
}
thead tr th{
    background-color:darkblue;
}
caption{
    text-align: center;
    font-size: 1.2em;
    color: black;
}
.fir{
    background-color: #00BFFF;
}
.sec{
background-color: purple;
}
.thir{
    background-color: green;
}
tr td:first-child{
    color: black;
}
